{% load static %}
<html>
    <head>
        <link rel='stylesheet' href='{% static 'css/style.css' %}'/>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th> </th>
                    <th>Speaker</th>
                    <th>Sentence</th>
                </tr>
            </thead>
            <tbody>
                {% if results %}
                <tr>
                    <td>Before</td>
                    <td>{{results.before_speaker}}</td>
                    <td>{{results.before_sentence}}</td>
                </tr>    
                <tr>
                    <td>Current</td>
                    <td>{{results.current_speaker}}</td>
                    <td>{{results.current_sentence}}</td>
                </tr>    
                <tr>
                    <td>After</td>
                    <td>{{results.after_speaker}}</td>
                    <td>{{results.after_sentence}}</td>
                </tr>    
                {% endif %}
                
            </tbody>
        </table>
    </body>
</html>